<div id="<%= dom_id staff %>">
  <p>
    <strong>Full name:</strong>
    <%= staff.full_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= staff.gender %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= staff.date_of_birth %>
  </p>

  <p>
    <strong>Citizen:</strong>
    <%= staff.citizen_id %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= staff.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= staff.address %>
  </p>

</div>
