<div id="<%= dom_id invoice %>">
  <p>
    <strong>Customer:</strong>
    <%= invoice.customer %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= invoice.title %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= invoice.quantity %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= invoice.total_price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

</div>
